.login{
    background-image: url('../../../../assets/images/cine.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    padding: 50px;   
}